<div class="container">
  <div class="button-group">
    <button (click)="makeOrder()">Create New Order</button>
    <button (click)="getOrders()">Refresh Orders</button>
  </div>

  <div class="orders-list" *ngIf="orders.length > 0">
    <h3>Orders:</h3>
    <ul>
      <li *ngFor="let order of orders">
        <div class="order-item">
          <span class="order-name">{{ order.name }}</span>
          <span class="order-id">ID: {{ order.id }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
